
/* Fonts */
	@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Fauna+One|Roboto+Slab:300,700');

	font-family: 'Fauna One', serif;
	font-family: 'Antic Slab', serif;
	font-family: 'Roboto Slab', serif;

/* Reset */

	html {
		font-size: 62.5%;
		box-sizing: border-box;
	}
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height:100%;
		font-family: 'Roboto Slab', serif;
		font-size: 1.5rem;
		background-color: #fff;
	}
	h1,
	h2,
	h3 {
		font-family: 'Fauna One', serif;
		margin-bottom:1rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	h1:hover {
		color:#e452b5;
	}
	h2 {
		font-size: 2rem;
		text-align:justify;
	}
	p, span {
		font-size: 1.5rem;
		text-align: justify;
		margin-bottom:1rem;
	}

/* Header */
	header {
		width: 600px;
		margin: auto;
		margin-top: 4em;
		text-align: left;
		border-bottom: 1px dashed #ccc;
	}
	header p {
		font-family: 'Roboto Slab', serif;
		font-size: 2rem;
	}
	nav {
		border-top: 1px dashed #ccc;
	}
	header ul {
		width:100%;
		padding:0;
		margin:0;
		list-style: none;
	}
	header ul li {
		width:calc(100%/4 - 5px);
		display: inline-block;
		text-align: center;
	}
	header ul li:hover {
		/*background-color: #eee;*/
	}
	header ul li a {
		font-size: 1.1rem;
		text-decoration: none;
		font-weight: bold;
		color:black;
	}
	header ul li a:hover {
		color:#e452b5;
	}

/* Main Contents */
	section {
		width:600px;
		margin: 1rem auto;
		border-bottom: 1px dashed #ccc;
	}
	article {
		font-size: 1.2rem;
		margin:1rem auto;
	}

	/* About */
	article#about {
		text-align: justify;
		border-bottom: 1px dashed #ccc;
		padding:2rem 0;
	}

	/* CV */
	#cv {
		text-align: center;
	}
	#cv a {
		font-size: 1rem;
		text-decoration: none;
		color:black;
	}
	#cv a:hover {
		color:#e452b5;
	}
	
	/* Portfolio */
	article#portfolio {
		padding:2rem 0;
	}
	article#portfolio p {
		font-weight: bold;
		text-align: center;
		margin:1rem;
	}
	div.portfolio {
		width:49%;
		height:320px;
		display: inline-block;
		margin: 1rem auto;
		text-align: center;
	}

	div.portfolio span {
		width:100%;
		height:279.3px;
		display: block;
		overflow: hidden;
	}
	div.portfolio img {
		width:95%;
		transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	}
	div.portfolio img:hover {
		max-width: 100%;
		transform: scale(1.10);
	-ms-transform: scale(1.10);
	-webkit-transform: scale(1.10);
	-o-transform: scale(1.10);
	-moz-transform: scale(1.10);
	}
	div.language {
		width:20%;
		display: inline-block;
		margin:0 auto;
		background-color: black;
		border-radius: 5px;
		color:white;
		font-size: .8rem;
		font-family: 'Fauna One', serif;
		padding:.3rem;
	}
	div.language:hover {
		background-color: #e452b5;
	}

/* Footer */
	footer {
		width: 100%;
		margin: 0 auto 4rem auto;
		text-align: justify;
	}
	.footer {
		width:600px;
		text-align: center;
	}
	.footer span {
		font-size: 1rem;
	}
	.footer a {
		color:black;
		text-decoration: none;
		text-align: center;
	}

	footer i {
		width:35px;
		border-radius: 50%;
		background-color: #ddd;
	}
	footer .fa {
		font-size: 1rem;
		line-height: 35px;
	}
	footer .fa:hover {
		color:#e452b5;
	}
	footer .fa-code {
		background-color:#fff;
	}

/* Media Query */
	@media screen and (min-width: 321px) and (max-width: 414px) {
		h1,
		h2,
		h3,
		p {
			font-size: 1.8rem;
			padding:1rem;
			margin:0;
		}
		header {
			width:100%;
		}
		header ul li {
			width:calc(100%/2 - 20px);
			display: inline-block;
			text-align: center;
			padding:.5rem;
		}
		header ul li a {
			font-size: 1.5rem;
		}
		nav {
			border-top: 1px dashed #ccc;
		}
		main, section {
			width:100%;
			box-sizing: border-box;
			margin: 0 auto;
			font-size: 2rem;
			padding:0 .5rem;
		}
		article {
			max-width:414px;
		}
		div.portfolio {
			width:100%;
			height:274px;
			text-align: justify;
		}
		div.portfolio span {
			width:100%;
			height:274px;
			display: block;
			overflow: hidden;
		}
		div.portfolio img {
			width:100%;
		}

		/* Footer */
			footer.footer {
				width:414px;
			}
			h3 {
				text-align: center;
			}
		}

	@media screen and (max-width: 320px) {
		body {
			max-width:320px;
		}
		h1,
		h2,
		h3,
		p {
			font-size: 1.8rem;
			padding:1rem;
			margin:0;
		}
		header {
			width:320px;
		}
		header ul li {
			width:100%;
			display: inline-block;
			text-align: center;
			padding:.5rem;
		}
		header ul li a {
			font-size: 1.5rem;
		}

		article#portfolio {
			text-align: justify;
		}
		div.portfolio {
			width:300px;
			margin:0 auto;
			height:274px;
			text-align: center;
		}
		div.portfolio span {
			width:300px;
			height:274px;
			display: block;
			overflow: hidden;
		}
		div.portfolio {
			width:100%;
			text-align: center;
		}
		div.portfolio img {
			width:100%;
		}

		footer.footer {
			width:320px;
		}

	}